.App {
  text-align: center;
}

.App-header {
  background-color: #404550;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-chart {
  background-color: #404550;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.Barre {
  display: flex;
  flex-direction: row;
}
.Line {
  display: flex;
  flex-direction: row;
}
.Chart {
  margin: 35px;
  -webkit-box-shadow: 11px 11px 23px 10px rgba(36, 36, 36, 1);
  -moz-box-shadow: 11px 11px 23px 10px rgba(36, 36, 36, 1);
  box-shadow: 11px 11px 23px 10px rgba(36, 36, 36, 1);
}
